
	.view-content {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #fff;
		transition: all .5s;
		box-sizing: border-box;
		overflow: scroll;
	}
	.page-content{
		padding-bottom: 50rpx;
	}
	.scale-page {
		transform: scale(.75) translate(400rpx);
		border-radius: 32rpx;
		box-shadow: 0 0 16rpx rgba(0, 0, 0, .2);
	}

	.scale-page-minor {
		transform: scale(.65) translate(200rpx);
		border-radius: 32rpx;
	}

	.hide-page {
		transform: scale(.6) translate(300rpx);
		border-radius: 32rpx;
		opacity: 0;
		z-index: 30;
	}